*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: black;
}

/* Screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.flex {
    display: flex;
}

#matrix-canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
}

/*
 *
 *  matrix nav
 */

#matrix-nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    overflow-y: scroll;

    padding: 1vh 1vw;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}


#matrix-nav .card {
    font-size: 1.2rem;
    color: white;

    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    margin-bottom: .75rem;
    padding: 1rem;
    border-radius: 16px;
}

#matrix-nav .card:last-child {
    margin-bottom: 0;
}

#matrix-nav .card footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#matrix-nav .card footer button {
    border-radius: 16px;
    font-size: 1.2rem;
    background-color: white;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
    padding: .5rem;
    cursor: pointer;
}

#matrix-nav .card .card-link {
    color: aqua;
}

.card p, .card li {
    max-width: 50ch;
}

/*
 *
 *  matrix settings
 */

#matrix-settings {
    position: absolute;
    z-index: 99; /* Otherwise, the user is not able to move the slider of the range, because
    control is given to the movement of the camera on the canvas */
    padding-inline: 3vw;
    bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#matrix-settings * {
    font-size: 1.25rem;
    color: white;
}

#custom-matrix {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#custom-matrix > fieldset {
    display: flex;
}

#custom-matrix .custom-matrix-vector {
    display: flex;
    flex-direction: column;
}

#custom-matrix .custom-matrix-vector legend {
    text-align: center;
}
#custom-matrix .custom-matrix-vector input {
    text-align: center;
    background-color: transparent;
    border: none;
}

#custom-matrix > button {
    font-size: 1.2rem;
    background-color: white;
    padding: .25rem;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

#controls {
    width: fit-content;
}

#controls fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#controls .v-scalar, fieldset label {
    width: 4rem;
    text-align: center;
}

/*
 *
 *  aside buttons
 */

aside {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1vh 2vw;
    display: none;
}

aside button {
    display: none;
    padding: 5px;
}

aside button:nth-child(1) {
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    #matrix-nav {
        display: none;
        width: 60vw;
        padding-right: calc(60px + 4vw);
    }

    #matrix-settings {
        /* width: 100vw; */
        left: 0;
    }

    aside {
        display: block;
    }

    aside button img {
        width: 50px;
    }

    aside #matrix-nav-btn {
        display: block;
    }
}

@media (max-width: 790px) {
    #matrix-nav {
        width: 100vw;
    }

    #matrix-settings {
        flex-direction: column;
        display: none;
    }

    aside #matrix-settings-btn {
        display: block;
    }
}

@media (max-width: 420px) {
    #matrix-settings {
        top: 20%;
        width: 100vw;
        height: fit-content;
    }
}

